<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-list {=$highlight-curr}" href="./index.html"> Home </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./page-2.html"
            >Target 1</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./page-3.html"
            >Target 2</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
